@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;
}

.pointer {
  cursor: pointer;
}

ul {
  padding-left: 0 !important;
}

.home {
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
}

.Get_btn {
  padding: 12px 24px;
  border-radius: 4px;
  background: linear-gradient(136deg, #DF381F 0%, #AA0606 100%, #438308 100%);
}

.opacity_06 {
  opacity: 0.6;
}

.bg_black {
  background-color: #181818;
}

.bg_light_black {
  background-color: #191919;
}

.bg_light_black_1 {
  background-color: #252525;
}

.bg_red {
  background-color: #FF0000;
}

.bg_green {
  background-color: #9ACD32;
}

.clr_black {
  color: #181818;
}

.clr_red {
  color: #FF0000;
}

.clr_green {
  color: #9ACD32;
}

.Cart_btn {
  border-radius: 4px;
  border: 1px solid #FFF;
  padding: 12px 24px;
  background-color: transparent;
}

.Pages_btn {
  border-radius: 4px;
  border: 1px solid #FFF;
  background: #FFF;
  padding: 12px 24px;
}

.z_10 {
  z-index: 10;
}

.border_r_1 {
  border-radius: 0 0 10px 10px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}

.slick-slide>div {
  display: flex;
}

@media (min-width:1200px) {
  .h_282 {
    height: 282px;
  }
}

@media (min-width:992px) {
  .padding_l_r {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width:1200px) {
  .nav_show {
    position: fixed;
    height: 104vh;
    background-color: black;
    transition: all 0.5s linear;
    left: -100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    top: 0;
  }

  .nav_show.showw {
    left: 0;
  }
}